{{ define  "demo01/hello01.html" }}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="s/css/css.css">
    <title>Document</title>
</head>
<body>
<h1>hello01</h1>
<span>红色</span>
姓名：{{/*.Name*/}}<br>
年龄：{{/*.Age*/}}<br>

{{/* 第一种方式 */}}
数组：{{ range .}}
        {{.}}
     {{ end }}
<br>
{{/* 第二种方式 */}}
    {{range $i,$v := .}}
        索引：{{$i}} 数据：{{$v}} <br>
    {{end}}

</body>
</html>

{{ end }}