{{ define  "demo01/hello01.html" }}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="s/css/css.css">
    <title>Document</title>
</head>
<body>
<h1>hello01</h1>
<span>红色</span>
姓名：{{/*.Name*/}}<br>
年龄：{{/*.Age*/}}<br>

{{/* 第一种方式切片 */}}

切片结构体：{{ range .}}
            姓名：{{.Name}}
            年龄：{{.Age}} <br>
          {{ end }}
<br>
    {{/* 第二种方式切片 */}}
    {{range $i,$v := .}}
        索引：{{$i}} 数据：{{$v}} <br>
    {{end}}

    {{/* 第二种方式结构体切片 */}}
    {{range $v := .}}
        索引：{{$v.Name}} 数据：{{$v.Age}} <br>
    {{end}}

</body>
</html>

{{ end }}