{{define "demo01/hello.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {{.age}}<br>

    {{range .arr}}
        {{.}}
        年龄：{{$.age}}
    {{end}}
    <br>
    {{range $i,$v := .arr}}
        {{$i}} {{$v}}
    {{end}}
    <br>
    对符号的支持：
    {{"我是你爹不不不"}}
    {{`我是你爹不不不不`}} {{`a`}}
    字节类型： {{'a'}}
    {{print "我是你爹不不不"}}
    {{print nil}}

    变量定义：{{$name :="海绵宝宝"}} {{print $name}} {{$name}}
    <br>
    {{if .flag}}
        后端传过来的是true
    {{end}}

    <br>
    {{if .username}}
        后端传入了数据
    {{else}}
        后端无数据传入
    {{end}}
    <br>

    {{if .flag}}
        {{if .username}}
            哈哈
        {{end}}
    {{end}}<br>

    with关键字:
    {{with .stu}}
        {{.Name}}
        {{.Age}}
        {{else}}
            暂无数据
    {{end}}
    <br>

</body>
</html>
{{end}}