{{define "demo01/hello.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {{.age}}<br>

    {{range .arr}}
        {{.}}
        年龄：{{$.age}}
    {{end}}
    <br>
    {{range $i,$v := .arr}}
        {{$i}} {{$v}}
    {{end}}
    <br>
    对符号的支持：
    {{"我是你爹不不不"}}
    {{`我是你爹不不不不`}} {{`a`}}
    字节类型： {{'a'}}
    {{print "我是你爹不不不"}}
    {{print nil}}

    变量定义：{{$name :="海绵宝宝"}} {{print $name}} {{$name}}
    <br>
    {{if .flag}}
        后端传过来的是true
    {{end}}

    <br>
    {{if .username}}
        后端传入了数据
    {{else}}
        后端无数据传入
    {{end}}
    <br>

    {{if .flag}}
        {{if .username}}
            哈哈
        {{end}}
    {{end}}<br>

    with关键字:
    {{with .stu}}
        {{.Name}}
        {{.Age}}
        {{else}}
            暂无数据
    {{end}}
    <br>
    {{/*通过.将数据传递给内嵌页面 实现上下文数据共享*/}}
    {{template "template/demo01/hello2.html" .}}
    <br>

    {{/*模板函数使用*/}}
    {{print "我是你爹不不不"}}
    {{printf "名字:%v 年龄:%v" "派大星" 45}}<br>

    {{len .arr}} <br>
    {{"yoda" |printf "%s"}}
    {{"yoda" |len}}<br>
    {{printf "名字:%s 住址:%s" "尤达" (printf "%s-%s" "不知名星球" "未知国度")}}<br>


    {{and .age .username}}
    {{and .username .age}}
    {{and .xxx .age}}<br>

    {{or .age .username}}
    {{or .username .age}}<br>

    取反:{{not .flag}}
    取反:{{not .aaa}}<br>

    {{index .arr 0}}<br>

    26 = 89 结果:{{eq 26 89}}<br>
    26 !=89 结果:{{ne 26 89}}<br>
    26 < 89 结果:{{lt 26 89}}<br>
    26 <=89 结果:{{le 26 89}}<br>
    26 >89 结果:{{gt 26 89}}<br>
    26 >=89 结果:{{ge 26 89}}<br>

    获取后端当前时间: {{.nowTime.Format "2006-01-02 15:04:05"}}



</body>
</html>
{{end}}