services:
  db:
    container_name: mysql
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: gorm
    ports:
      - "3306:3306"
    volumes:
      - ./data:/var/lib/mysql